---
layout: static_page
title: Le menu
thumbnail: images/creations/nos_creations_3.jpg
---

<div class="current-menu">
  <section id="formules">
    <div class="formule">
      <h2>Lunch</h2>
      {% include svg/separator.html %}
      <p>Du lundi au samedi<br>« Jusqu’à ce qu’il y en ait plus ! »</p>
      <i>À partir de 9€50</i>
    </div>

    <div class="formule">
      <h2>Brunch</h2>
      {% include svg/separator.html %}
      <p>Tous les dimanches<br>« Super healthy et fruité »</p>
      <i>18€</i>
    </div>
  </section>

  </section>
  <section id="juicies">
    <h2>Jus de fruits et légumes frais</h2>
    <span>Pressés sous vos yeux, pour un maximum de
fraicheur et de bonheur</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <!-- Juicies - Cat #1 -->
    <i>3€50 / 4€50 / 5€80</i>
    <ul>
      <li><strong>Oranges pressées</strong>  ou <strong>Jus de pommes</strong></li>
      <li><strong>Hippie juice</strong><br>Carotte Orange Gingembre</li>
    </ul>
    <!-- Juicies - Cat #2 -->
    <i>3€80 / 4€90 / 6€</i>
    <ul>
      <li><strong>May Flower</strong><br>Ananas, Pomme Orange, Menthe Fraiche</li>
      <li><strong>Pas Pressé</strong><br>Carotte, Banane, Orange, Gingembre</li>
      <li><strong>l’orangeraie</strong><br>Pamplemousse, Orange, Citron, Piment de Cayenne</li>
      <li><strong>L’énergique</strong><br>Poire, Poivron rouge, Orange, Citron, Miel</li>
      <li><strong>Roots</strong><br>Betterave, Carotte, Pomme, Citron, Gingembre</li>
      <li><strong>Carpe Diem</strong><br>Poire, Betterave, Orange, Gingembre</li>
      <li><strong>Charlemagne</strong><br>Concombre, Pomme, Citron, Menthe</li>
    </ul>
    <!-- Juicies - Cat #3 -->
    <i>4€50 / 5€50 / 6€50</i>
    <ul>
      <li><strong>Détox</strong><br>Fenouil, Pomme, Epinard, Ananas, Citron, Spiruline</li>
      <li><strong>Le fit</strong><br>Kale, Pomme, Epinard, Concombre, Citron, Gingembre, Spiruline</li>
    </ul>
  </section>

  <section id="smoothies">
    <h2>Smoothies 100% naturels</h2>
    <span>Des fruits, uniquement des fruits !</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <!-- Smoothies - Cat #1 -->
    <i>4€ / 5€ / 6€50</i>
    <ul>
      <li><strong>Sweetie</strong><br>Banane, Fraise</li>
      <li><strong>Fraicheur </strong><br>Fruits rouges, Fraise, Framboise, Banane</li>
      <li><strong>Buddha Rose</strong><br>Mangue, Framboise, Orange pressée</li>
      <li><strong>Mangotine</strong><br>Mangue, Ananas, Pomme, Orange, Gingembre</li>
      <li><strong>Réveil Vitaminé</strong><br>Banane, Poire, Kiwi, Gingembre</li>
      <li><strong>Pura Vida</strong><br>Banane, Ananas, Mangue, Orange pressée</li>
    </ul>
    <!-- Smoothies - Cat #2 -->
    <i>4€50 / 5€50 / 7€</i>
    <ul>
      <li><strong>Tropical green</strong><br>Ananas, Mangue, Avocat, Epinard, Orange, Banane, Spiruline</li>
      <li><strong>Boost</strong><br>Kale, Ananas, Epinard, Kiwi, Noix de coco, Pomme Spiruline</li>
      <li><strong>Brazil </strong><br>Açaï, Guarana, Banane, Orange, Framboise</li>
      <li><strong>Banana swing</strong><br>Banane, Beurre de cacahuète, Lait, Miel</li>
      <li><strong>Coffee Delice</strong><br>Café, Lait d’amandes, Banane, Dattes</li>
    </ul>
  </section>
  <section id="snacks">
    <h2>Breakfast | Dessert | Tea time</h2>
    <span>Tout est fait maison à partir de produits frais et bio</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <ul>
      <li><strong>Tartines et confiture</strong><br>Une sélection de pains bio cuits au feu de bois, confiture maison et beurre demi-sel<br><i>4€50</i></li>
      <li><strong>Fruit bowl</strong><br>Beaux morceaux de fruits frais éxotiques et de saison<br><i>4€50</i></li>
      <li><strong>Granola parfait maison</strong><br>Fromage blanc, miel et muesli maison aux amandes<br><i>5€</i><br>+ Beaux morceaux de fruits frais éxotiques et de saison <i>(+1€)</i></li>
      <li><strong>Avocado toast</strong><br>Sur du pain bio cuit au feu de bois, avocat, grenade, huile d’olive, citron et graines de pavot<br><i>3€50</i></li>
      <li><strong>Smoothie Bowl</strong><br>Une base de smoothie de votre choix + fruits frais, baies et graines, chaire de coco et muesli maison aux amandes<br><i>6€</i></li>
      <li><strong>Açaï Bowl</strong><br>Açaï BIO, banane et guarana + fruits frais et muesli maison  aux amandes<br><i>6€50  / 8€50</i></li>
      <li><strong>Pudding de Chia</strong><br>Au lait de coco, coulis de mangue et mangue fraiche></li>
    </ul>
  </section>
  <section id="drinks">
    <h2>Drinks</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="divided">
      <ul>
        <li><strong>Eau de coco</strong><br>100% naturelle<br><i>3€50</i></li>
        <li><strong>Thé glacé Bio</strong><br>Infusion<br><i>3€50</i></li>
      </ul>
      <ul>
        <li><strong>Citronnade maison</strong><br>Citrons Bio pressés, gingembre, menthe fraiche, une touche d’orgeat<br><i>3€ / 3€50</i></li>
        <li><strong>Eau </strong><br>Minérale / Gazeuse<br><i>1€ / 2€50</i></li>
      </ul>
    </div>
  </section>
   <section id="coffee">
    <h2>Café & thé</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="divided">
      <ul>
        <li><strong>Expresso</strong><br><i>1€20</i></li>
        <li><strong>Café allongé</strong><br><i>1€20</i></li>
        <li><strong>Café noisette</strong><br><i>1€40</i></li>
      </ul>
      <ul>
        <li><strong>Café glacé</strong><br><i>3€50</i></li>
        <li><strong>Chaï latte glacé</strong><br><i>3€80</i></li>
        <li><strong>Thé / infusion bio</strong><br>Yogi Tea<br><i>3€50</i></li>
      </ul>
    </div>
  </section>
</div>

{% include reach-us.html %}