<nav role="navigation" class="nav">
  <ul>
    <li><a data-scroll href="#intro">Qui sommes-nous ?</a></li>
    <li><a data-scroll href="#products">Nos créations</a></li>
    <li><a data-scroll href="#menu">Le menu</a></li>
    <li class="nav-logo"><a data-scroll href="#header"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a></li>
    <li><a data-scroll href="#origins">Healthy spot</a></li>
    <li><a data-scroll href="#events">Événementiel</a></li>
    <li><a data-scroll href="#contact">Contact</a></li>
  </ul>
</nav>
