<nav role="navigation" class="nav">
  <ul>
    <li><a href="{{ site.github.url }}/#intro">Qui sommes-nous ?</a></li>
    <li><a href="{{ site.github.url }}/#products">Nos créations</a></li>
    <li><a href="{{ site.github.url }}/menu">Le menu</a></li>
    <li class="nav-logo"><a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a></li>
    <li><a href="{{ site.github.url }}/#origins">Healthy spot</a></li>
    <li><a href="{{ site.github.url }}/#events">Événementiel</a></li>
    <li><a href="{{ site.github.url }}/#contact">Contact</a></li>
  </ul>
</nav>