header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-top: 180px;
  width: 100%;
  height: 620px;

  &:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 9;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }

  .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
    height: 220px;
    width: 220px;

    img {
      height: 200px;
    }
  }
}

nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 20px;

  a, a:visited, a:focus {
    color: #fff;
    font-weight: 600;
    font-family: 'brandon_grotesquemedium';
  }

  a:hover {
    color: #333;
  }
}

h2 {
  position: relative;
  color: rgba(0,0,0,0.7);

  &:before, &:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    bottom: 12px;
    background-color: rgba(0,0,0,0.7);
  }

  &:before {
    left: -40px;
  }

  &:after {
    right: -40px;

  }
}

h3 {
  margin-bottom: 1rem;
  color: #38e2aa;
  letter-spacing: 0.05rem;
}

.divider {
  height: 25px;
  margin-bottom: 20px;
  opacity: 0.7;
}

section#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;

  @media (min-width: 550px) { padding: 80px 0; }

  p {
    width: 90%;
    text-align: center;

    @media (min-width: 550px) {
      width: 33.333333%;
    }
  }
}

section#sisters {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: 1024px) { flex-direction: row; }

  .sisters-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: 1024px) { width: 50%; }

    .sisters-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 550px) {
        flex-direction: row;
      }

      @media (min-width: 1024px) {
        flex-direction: column;
      }

      p {
        width: 90%;
        text-align: center;

        @media (min-width: 550px) {
          width: 90%;
        }

        @media (min-width: 1024px) {
          width: 50%;
        }
      }
    }
  }

  .sisters-carousel {

    width: 100%;
    max-height: 525px;

    @media (min-width: 1024px) {
      width: 50%;
    }

    .slick-slider {
      padding-top: 40px;
      width: 100%;

      .slick-list {
        height: 525px !important;

        .slick-slide {
          img {
            width: 100%;
          }
        }
      }

      .slick-slide {
        max-width: 100%;
      }

      .slick-dots {
        position: absolute;
        width: 8%;
        top: 50%;
        transform: translateY(-42%);
        left: -15px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 1rem;
          width: 30px;
          height: 30px;

          button {
            width: 10px;
            height: 10px;
            background: #fff;
            border: 2px solid rgba(0,0,0,0.7);
            border-radius: 0;
            transform: rotate(45deg);

            &:before {
              display: none;
            }
          }
        }

        .slick-active {
          button {
            position: relative;
            width: 25px;
            height: 25px;
            top: 2px;

            &:before {
              display: block;
              left: 1px;
            }
          }
        }
      }
    }
  }
}

section#products,
section#origins {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 40px;

  .block-1 {
    display: flex;
    flex-direction: column;
    width: 42.5%;

    .image {
      width: 100%;

      &:after {
        content: "";
        display: block;
        padding-bottom: 101.5%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .image-1 {
      &:after {
        background-image: url('../images/mozaic_1/product_1.jpg');
      }
    }

    .image-2 {
      &:after {
        background-image: url('../images/mozaic_1/product_2.jpg');
      }
    }
  }

  .block-2 {
    display: flex;
    flex-direction: column;
    width: 57.5%;

    .image-3 {
      width: 100%;

      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        background-image: url('../images/mozaic_1/product_3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .block-3 {
      display: flex;
      flex-wrap: wrap;

      .image-4 {
        width: 50%;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
          background-image: url('../images/mozaic_1/product_4.jpg');
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .prestations-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
        width: 40%;
        text-align: center;
      }
    }
  }
}

section#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;
}

section#origins {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 40px;
}

section#events {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;

  img {
    width: 33.33333%;
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5%;
  }
}

section#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;
}

section#instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 0;

  @media (min-width: 550px) { padding: 80px 0 0; }

  p {
    width: 90%;
    text-align: center;

    @media (min-width: 550px) {
      width: 33.333333%;
    }
  }

  #instafeed {
    display: flex;
    flex-wrap: wrap;

    a {
      display: flex;
      width: 20%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

footer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 30px;

  p {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
  }
}



